{{!-- Step 2 --}}

<h2>My favourite pet is Cat</h2>
<ul>
    <li class="mid">3 years old</li>
    <li class="mid">Female</li>
    <li class="mid">Persian</li>
</ul>

<h2>Book Search</h2>
{{> isbnSearchForm}}
{{> titleSearchForm}} 
