{{> isbnSearchForm}}

<h3>Search Result</h3>
<div class="result">
    Title: {{{isbnSearchResult.title}}}<br>
    ISBN: {{{isbnSearchResult.isbn}}}<br>
    Description: {{{isbnSearchResult.shortDescription}}}<br>
    Authors: {{{isbnSearchResult.authors}}}
</div>
